.problem {
    color:red;
    text-align: center;
    margin: 0 auto;
}

.butn {
    background-color: #3c4142;
    border-type: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0;
    color: white;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    margin:0;
}

.numpad {
    position: fixed;
    bottom: 0;
}