.problem {
    color:red;
    text-align: center;
    margin: 0 auto;
}

.btn {
    background-color: grey;
    border-color: black;
    border-radius: 0;
    color: white;
    font-weight: bold;
}

.numpad {
    position: fixed;
    bottom: 0;
}